<section>
  <h3>Nueva Tarea</h3>
  <form #newTareaForm="ngForm" (ngSubmit)="onSubmit(newTareaForm)">
    <div>
      <label for="descripcion">Descripción:</label>
      <input type="text" [(ngModel)]="newTarea.descripcion" name="descripcion" id="descripcion" minlength="3" required>
    </div>

    <div>
      <label for="duracion">Duración:</label>
      <input type="text" [(ngModel)]="newTarea.duracion" name="duracion" id="duracion" min="1" max="3" required>
    </div>

    <div>
      <label for="proyecto">Proyecto:</label>
      <select name="proyecto" id="proyecto" [(ngModel)]="newTarea.proyecto" required>
        <option *ngFor="let aP of proyectos" [ngValue]="aP.pid">{{aP.titulo}}</option>
      </select>
    </div>


    <div>
      <button [disabled]="!newTareaForm.valid">Guardar</button>
    </div>
  </form>
</section>